.layer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layerName {
  font-size: 0.85rem;
  display: flex;
  justify-content: space-between;
  width: 6rem;
  font-weight: 700;
}

.buttonGroup {
  display: flex;
  gap: 0.3rem;
}

.actionButton {
  padding: 0.4rem;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.actionButton * {
  font-size: 0.9rem;
}

.numberSetter {
  width: 7rem;
}

.numberSetter > .form-floating > label {
  padding: 0;
}
