.layer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.layerName {
  font-size: 0.85rem;
  display: flex;
  width: 6rem;
  font-weight: 700;
}

.buttonGroup {
  display: flex;
  gap: 0.3rem;
  flex-grow: 1;
  justify-content: flex-end;
}

.actionButton {
  padding: 0.4rem;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionButton * {
  font-size: 0.9rem;
}

.numberSetter {
  width: 7rem;
}

.numberSetterSmall {
  width: 5.5rem;
  height: 1.4rem;
}

.numberSetterSmall * {
  font-size: 0.75rem !important;
  height: 1.4rem;
}

.block {
  display: flex;
  gap: 0.5rem;
  padding-left: 1rem;
  font-size: 0.8rem;
}

.block * {
  font-size: 0.75rem;
}

.selector {
  width: 6.5rem;
  background-position: right 0.2rem center;
  height: 1.4rem;
  padding: 0 0.3rem;
}

.dropdownToggle {
  padding: 0.1rem 0.3rem;
  width: 2.5rem;
}

.dropdownItem {
  display: flex;
  gap: 1rem;
}

.dropdownItem:focus {
  background-color: var(--hero-reg);
}
