.block-front {
  position: relative;
  background-color: blue;
  border: 1px solid white;
}

.block-front-layer {
  position: absolute;
}

.building {
  position: absolute;
  background-color: darkorange;
}
