.section {
  width: fit-content;
  position: relative;
  display: flex;
}

.street {
  position: absolute;
  width: 10em;
  display: flex;
  flex-direction: column-reverse;
}

.layerContainer {
  display: flex;
}

.layer {
  position: absolute;
  display: flex;
  align-items: flex-end;
}
